html {
	position: relative;
	min-height: 100%;
}

/* コード */
pre.highlightjs code {
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
	border: 1px solid #e1e1e8;
	border-radius: 0.25rem;
}

/* グリッド */
.row .grid {
	border: 1px solid rgba(86, 61, 124, 0.2);
}
.row .column {
	background-color: rgba(86, 61, 124, 0.15);
	border: 1px solid rgba(86, 61, 124, 0.2);
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;}

/* コンテナ */
.bd-example-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 25rem;
	min-width: 16rem;
}
.bd-example-container-header {
	background-color: #daeeff;
	border-radius: 0.25rem;
	height: 3rem;
	margin-bottom: 0.5rem;
}
.bd-example-container-sidebar {
	background-color: #fae3c4;
	border-radius: 0.25rem;
	float: right;
	height: 8rem;
	width: 6rem;
}
.bd-example-container-body {
	background-color: #957bbe;
	border-radius: 0.25rem;
	height: 8rem;
	margin-right: 6.5rem;
}
.bd-example-container-fluid {
	max-width: none;
}

/* スクロールスパイ */
.scrollspy-example {
	height: 200px;
	overflow: auto;
	position: relative;
}

/* Flexbox grid system */
.row .flex {
    display: flex;
    flex-wrap: wrap;
}
.row .flex::after {
    content: "";
    display: table;
    clear: both;
}
.row .flex + .row {
    margin-top: 1rem;
}
.row .flex > [class^="col-"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}
.bd-example-row-flex-cols .row {
    background-color: rgba(255, 0, 0, 0.1);
    min-height: 10rem;
}

/* モーダル */
.modal-content {
	font-size: 1rem;
	font-weight: 400;
	text-align: left;
	text-shadow:none;
}
.modal-footer .btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.modal-footer .btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.br {
	display: inline-block;
	font-weight: bold;
}