{% extends 'blog/base.html' %}
{% load macros %}

{% block title %}My amazing blog{%endblock%}

{% block content %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-danger mt-3">
			<div class="col-md-6 px-0">
				<h1 class="display-4 font-italic">トップ記事</h1>
				<p class="lead my-3">メンバーを形成する複数行のテキスト、この記事の内容の中で最も興味深いものについて迅速かつ効率的に新しい読者に知らせる。</p>
				<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">続きを読む...</a></p>
			</div>
</div>
<div class="row mb-2">
			<div class="col-md-6">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<div class="card-body d-flex flex-column align-items-start">
						<strong class="d-inline-block mb-2 text-primary">世界</strong>
						<h3 class="mb-0">
							<a class="text-dark" href="#">おすすめ記事</a>
						</h3>
						<div class="mb-1 text-muted">11月12日</div>
						<p class="card-text mb-auto">これは、追加コンテンツへの自然なリードインとして以下のテキストをサポートして、より広いカードです。このコンテンツは少し長いです。</p>
						<a href="#">続きを読む</a>
					</div>
					<img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb&bg=55595c&fg=eceeef&text=サムネイル" alt="カード画像のキャプション">
				</div>
			</div>
			<div class="col-md-6">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<div class="card-body d-flex flex-column align-items-start">
						<strong class="d-inline-block mb-2 text-success">デザイン</strong>
						<h3 class="mb-0">
							<a class="text-dark" href="#">記事のタイトル</a>
						</h3>
						<div class="mb-1 text-muted">11月11日</div>
						<p class="card-text mb-auto">これは、追加コンテンツへの自然なリードインとして以下のテキストをサポートして、より広いカードです。</p>
						<a href="#">続きを読む</a>
					</div>
					<img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb&bg=55595c&fg=eceeef&text=サムネイル" alt="カード画像のキャプション">
				</div>
			</div>
		</div>
	</div>

	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				<h3 class="pb-3 mb-4 font-italic border-bottom">
					新着記事
				</h3>

                {% for object in object_list %}
                   <div class="blog-post">
                   <h2 class="blog-post-title">{{ object.title }}</h2>
                   <p class="blog-post-meta">{{ object.pub_date }}　投稿者：<a href="#">Piffett</a></p>
                   {{ object.headline }}
                   <br><a href="#">続きを読む</a>
                   </div>
                {% endfor %}

 {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="{% url 'blog:index' %}?{{ page_obj.previous_page_number.querystring }}">previous</a></li>
            {% endif %}
            {% for link_page in page_obj.pages %}
                {% if link_page %}
                    {% if link_page == page_obj.number %}
                        <li class="active"><a href="">{{ link_page }}</a></li>
                    {% else %}
                        <li><a href="{% url 'blog:index' %}?{{ link_page.querystring  }}">{{ link_page }}</a></li>
                    {% endif %}
                {% else %}
                    {# 省略された部分の表示内容 #}
                    <li class="disabled"><a href="#">(省略)</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="{% url 'blog:index' %}?{{ page_obj.next_page_number.querystring }}">next</a></li>
            {% endif %}
        </ul>
{% endif %}
			</div><!-- /.blog-main -->

			<aside class="col-md-4 blog-sidebar">
				<div class="p-3 mb-3 bg-light rounded">
					<h4 class="font-italic">概要</h4>
					<p class="mb-0">俗に言うブログ。コメントが会員登録制だけど、ブログサービスとしてとくに使えるわけではないというところがミソ（？）。</p>
				</div>
				<div class="p-3">
					<h4 class="font-italic">過去ログ</h4>
					<ol class="list-unstyled mb-0">
						<li><a href="#">2014年01月</a></li>
						<li><a href="#">2013年12月</a></li>
						<li><a href="#">2013年11月</a></li>
						<li><a href="#">2013年10月</a></li>
						<li><a href="#">2013年09月</a></li>
						<li><a href="#">2013年08月</a></li>
						<li><a href="#">2013年07月</a></li>
						<li><a href="#">2013年06月</a></li>
						<li><a href="#">2013年05月</a></li>
						<li><a href="#">2013年04月</a></li>
						<li><a href="#">2013年03月</a></li>
						<li><a href="#">2013年02月</a></li>
					</ol>
				</div>
				<div class="p-3">
					<h4 class="font-italic">他の場所</h4>
					<ol class="list-unstyled">
						<li><a href="#">GitHub</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
					</ol>
				</div>
			</aside><!-- /.blog-sidebar -->
		</div><!-- /.row -->
    </main>

{%endblock%}